<br/>
<div class="container">
  <div class="row">

    <div class="recAll">
      <div  id="htmlData">
        <br/>
        <br/>

        <!-- start ฟอร์มเอกสาร แบบที่ 1 -->
        <h6 class="header">ใบแสดงรายการเบิก</h6>

        <div style="display: flex; justify-content: space-between;">
          <p style="font-weight: bold;" class="content-left">วันที่เก็บเอกสาร</p>
          <p style="font-weight: bold;" class="content-right">เลขที่เก็บเอกสาร</p>
        </div>

        <div style="display: flex; justify-content: space-between;">
          <p class="content-left">เงินยืมทดรอง ทั่วไป/ค่ารับรอง/ตามหลักการ/เดินทางในและต่างประเทศ</p>
          <p style="font-weight: bold;" class="red-text">RCN</p>
          <p class="content-right red-text">A  xx/xxxx</p>
        </div>

        <div style="display: flex; justify-content: space-between;">
          <p style="font-weight: bold;" class="red-text">ชื่อผู้รับเงิน</p>
          <p class="red-text">xxx</p>
          <p style="font-weight: bold;" class="red-text">วันที่รับเงิน</p>
          <p class="content-right red-text">xxx</p>
        </div>

        <table class="custom-table1">

          <table class="custom-table2">
          <tr>
              <th class="order-column">ลำดับ</th>
              <td class="red-text detail">รายละเอียด</td>
              <td style="font-weight: bold;" class="red-text count">จำนวนที่เบิก (รวม vat)</td>
              <td class="vat">จำนวนที่จ่าย (รวม vat)</td>
          </tr>
          <tr>
              <th style="font-size: small; font-weight: normal;">1</th>
              <td class="red-text"> xxx</td>
              <td class="red-text">xxx.xx</td>
              <td></td>
          </tr>
          <tr>
              <th style="font-size: small; font-weight: normal;">2</th>
              <td> xxx</td>
              <td>xxx.xx</td>
              <td></td>
          </tr>
          <tr>
              <th>รวม</th>
              <td>xxx.xx</td>
              <td></td>
              <td></td>
          </tr>
        </table>

          <br/>
          <tr>
              <th class="process">ขั้นตอน</th>
              <td class="gl-date">G/L Date</td>
              <td class="doc-no">Doc No.</td>
              <td class="created-by">ผู้จัดทำ</td>
              <td class="validate">ผู้ตรวจ</td>
          </tr>
          <tr>
              <th class="red-text" style="font-weight: normal;">PR</th>
              <td></td>
              <td class="red-text" style="font-weight: normal;">xx</td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <th style="font-weight: normal;">PO</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <th style="font-weight: normal;">PV</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <th style="font-weight: normal;">AP / AR / CA</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <th style="font-weight: normal;">Check/Transfer</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <th style="font-weight: normal;">BG-ADJ. Company 13</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <th style="font-weight: normal;">GL-JV / GL-JJ</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <th style="font-weight: normal;">รับ/ตัดจำหน่ายสินทรัพย์ระบบ FA</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <br/>

          <div class="rectangle">
            <p class="header">ตรวจหลักฐานแล้ว</p>
            <p style="font-size: small;">จำนวนเงินที่เบิก...................................................บาท</p>
            <p style="font-size: small;">โอนเงิน เลขที่...................................................................ลงวันที่................................................</p>
            <p style="font-size: small;" class="red-text">ผู้ทำใบเบิก xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx ลงวันที่ xxxxxxxxxxxxxxxxx เบอร์โทร. xxxxxxxxxxxx</p>
            <p style="font-size: small;" class="red-text">ผู้อนุมัติ xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx ลงวันที่ xxxxxxxxxxxxxxxxx เบอร์โทร. xxxxxxxxxxxx</p>
            <p style="font-size: small;">ผู้ตรวจ................................................................ลงวันที่............................</p>
        </div>
        <br/>

        <p class="red-text">หมายเหตุ xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>

        <p style="white-space: nowrap;" class="red-text">ตัวอักษรสีแดงคือข้อมูลที่แสดงตามการเบิก xxx เป็นข้อมูลที่ดึงจากระบบ</p>
          <br/>
      </table>
      <!-- end ฟอร์มเอกสาร แบบที่ 1 -->
      </div>
    </div>

    <div class="col-md-4 text-right">
      <br/>
      <br/>
      <button style="background-color: brown;" class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button>
      <button style="margin-left: 10px;" class="btn btn-success btn-block" (click)="exportToExcel()">Download Excel</button>
      <br/>
      <br/>
    </div>
  </div>
</div>
